.player {
  align-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto 54px 54px 54px 54px;
  padding: 10px 0;
}

.player:last-child {
  border: none;
}

.rank {
  align-items: center;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 #f1f3f5;
  cursor: pointer;
  display: flex;
  height: 54px;
  justify-content: center;
  width: 54px;
}

.rank:focus {
  background-color: #f1f3f5;
  outline: none;
}

.rank.selected {
  background-color: #fa5252;
  border: none;
}

.rank.selected input[type="number"] {
  background-color: #fa5252;
  color: #fff;
}

.average {
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 50%;
  color: #495057;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  width: 54px;
}

.update {
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 54px;
  justify-content: center;
  visibility: hidden;
  width: 54px;
}

.update.pending {
  animation: pulse 4s infinite;
  background-color: #3b5bdb;
  color: #fff;
  visibility: visible;
}

.update.pending:hover,
.update.pending:focus {
  background-color: #3b5bdb;
  color: #fff;
  outline: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(116, 143, 252, 0.75);
  }
  70% {
    -webkit-box-shadow: 0 0 0 6px rgba(116, 143, 252, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(116, 143, 252, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(116, 143, 252, 0.75);
    box-shadow: 0 0 0 0 rgba(116, 143, 252, 0.75);
  }
  70% {
    -moz-box-shadow: 0 0 0 6px rgba(116, 143, 252, 0);
    box-shadow: 0 0 0 6px rgba(116, 143, 252, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(116, 143, 252, 0);
    box-shadow: 0 0 0 0 rgba(116, 143, 252, 0);
  }
}
